<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaominfo.oss.module.dao.OSSMaterialInfoMapper">



    <select id="selectMaterialUseSpace" resultType="java.lang.Integer">
        SELECT sum(len) len from oss_material_info
    </select>


</mapper>
